<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%- package_title %>&nbsp;&lt;&nbsp;<%- mod_version %></title>
</head>

<body>
    <h1 style="display: none;"><%- package_title %></h1>

    <div id="toolbar-app" class="toolbar"></div>

    <div id="popup-app"></div>

    <div class="log-container">
        <div id="log" class="log"></div>
    </div>

    <template id="log-item-template">
        <span class="log-item"></span>
    </template>

    <template id="mod-message-template-without-detail">
        <p class="mod-message mod-message-without-detail">
            <span class="mod-message-message">[MESSAGE]</span>
        </p>
    </template>

    <template id="mod-message-template-with-detail">
        <details class="mod-message mod-message-with-detail">
            <summary class="mod-message-message">[MESSAGE]</summary>
            <pre class="mod-message-detail">[DETAIL]</pre>
        </details>
    </template>

</body>

</html>
