html {
	margin: 0;
	padding: 0;
}
body {
	font-size: 12pt;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;

	/* TODO: 多言語におけるフォント指定を知らない */
	font-family: /* "Meiryo UI",
    "PingFang TC", "Microsoft JhengHei",
    "PingFang SC", "Microsoft YaHei", */ sans-serif;
}

.toolbar {
	background-color: #e1cfb3;
	background-image: url("assets/toolbar-background.png");
}

.log-container {
	background: #31281e;
	flex: 1 1 100%;
	overflow: scroll;
	padding: 1em;

	.log {
		overflow: hidden;

		.mod-message {
			margin: 0.4em;
			padding: 0 0.25em;
			border: 1px solid #fff;

			summary {
				list-style: none;
				cursor: pointer;

				&::after {
					content: "...";
					display: block;
					float: right;
				}
			}

			.mod-message-timestamp {
				font-size: 0.75em;
				margin-right: 0.5ch;
				vertical-align: middle;
				display: inline-block;
			}
		}

		.mod-message-kind-notice {
			color: #0f0;
		}

		.mod-message-kind-information {
			color: #0ff;
		}

		.mod-message-kind-warning {
			color: #ff0;
		}

		.mod-message-kind-error {
			color: #f00;
		}

		.log-item + .log-item {
			margin-left: 0.25ch;
		}

		.log-item-highlight-inline {
			display: inline-block;
			font-weight: bold;
			border-width: 1px;
			border-style: solid;
			padding: 0.25em;
		}

		.log-item-highlight-block {
			display: block;
			margin: 0.5em;
			font-weight: bold;
			border-width: 3px;
			border-style: double;
			padding: 0.25em;
			text-align: center;
		}

		.log-item-highlight-popup {
			border-bottom-width: 1px;
			border-bottom-style: dotted;
		}
	}
}
