<?xml version="1.0" encoding="UTF-8"?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/EvilMask/Elin.ModOptions/refs/heads/main/doc/ConfigLayoutSchema.xsd"
>
	<vlayout border="true">
		<title>LabelLogFile</title>
		
		<toggle id="Setting.LogFile.IsEnabled">
			<contentId>CommonIsEnabled</contentId>
		</toggle>

		<topic>LabelLogFilePath</topic>
		<input id="Setting.LogFile.FilePath" />
		<text>LabelLogFilePathDescription</text>
	</vlayout>

	<vlayout border="true">
		<title>LabelWebServer</title>

		<toggle id="Setting.WebServer.IsEnabled">
			<contentId>CommonIsEnabled</contentId>
		</toggle>

		<topic>LabelWebServerPort</topic>
		<input id="Setting.WebServer.Port" />

	</vlayout>
	
</config>
